@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main: #f3f4f6;
  --text-color: #111827;
  --link-bar-background: #4f46e5;
  --link-bar-text: #ffffff;
  --button-primary: #6366f1;
  --hover-effect: #4338ca;
}

body {
  background-color: var(--background-main);
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--button-primary);
  color: #fff;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: var(--hover-effect);
}
